@model IEnumerable<WebStore.Models.Employee>

<div class="container">
    <table class="table">
        <caption class="header_top">Employee list</caption>
        <thead>
            <tr>
                <td>Id</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Patronimyc</td>
                <td>Age</td>
                <td>Birthday</td>
                <td>Department</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.PatronimicName</td>
                    <td>@employee.Age</td>
                    <td>@employee.Birthday.ToString("dd/MM/yyyy")</td>
                    <td>@employee.DepartamentName</td>
                    <td>
                        <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Details</a>
                    </td>
                    <td>
                        <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p class="row">
        <a  class="col-md-10" asp-controller="Home" asp-action="Index">Back to home</a>

        <a class="col-md-2" asp-controller="Employees" asp-action="Create">Create new employee</a>
    </p>
</div>

