@model IEnumerable<WebStore.Models.Employee>

<div class="container">
    <table class="table">
        <caption>Employee list</caption>
        <thead>
            <tr>
                <td>Id</td>
                <td>First name</td>
                <td>Last name</td>
                <td>Patronimyc</td>
                <td>Age</td>
                <td>Birthday</td>
                <td>Department</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.PatronimicName</td>
                    <td>@employee.Age</td>
                    <td>@employee.Birthday.ToString("dd/MM/yyyy")</td>
                    <td>@employee.DepartamentName</td>
                    <td>
                        <a  asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-controller="Home" asp-action="Index">Main</a>
    </p>
</div>

